/* Import the fonts first */
@import "@fontsource/inter";
@import "@fontsource/roboto-flex";
@import "@fontsource/belanosima";

@import "tailwindcss";

@theme {
  /* Individual font families */
  --font-inter: "Inter";
  --font-roboto-flex: "Roboto Flex";
  --font-belanosima: "Belanosima";

  /* Your other colors... */
  --color-dark-blue: #04254b;
  --color-error: #dc2626;
  --color-success: #15803D;
  --color-light-blue: #00488c;
  --color-black: #1a1a1a;
  --color-white-txt: #ffffff;
  --color-white-bg: #dfdfdfd1;
  --color-white-ln: #dfdfdf;
  --color-orange-txt: #df6d08;
  --color-orange-btn: #df6d08e5;
  --color-orange-bg: #d66b0eb2;

  /* Custom breakpoints */
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

body {
  font-family: "Inter", -apple-system, "Segoe UI", sans-serif;
}
