@import "tailwindcss";

@theme {
  --font-primary: "Roboto Flex", "Inter";
  --color-dark-blue: #04254b;
  --color-error: #dc2626;
  --color-success: #059669;
  --color-light-blue: #00488c;
  --color-black: #1a1a1a;
  --color-white-txt: #ffffff;
  --color-white-bg: #dfdfdfd1;
  --color-white-ln: #dfdfdf;
  --color-orange-txt: #df6d08;
  --color-orange-btn: #df6d08e5;
  --color-orange-bg: #d66b0eb2;
}
